.header-container {
    display: flex;
    padding: 5px;

    h1 {
        opacity: 0.7;
        margin: 0 auto;
        background-color: rgb(75, 78, 78);
        display: inline;
    }
}

.search-box {
    margin: 0 auto;
    width: 700px;

    * {
        margin-left: 10px;
    }
}

.content-box {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .content-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .search-box {
        margin: 5px 0px 10px 0px;
        width: 500px;
        border-radius: 30px;
        text-align: center;

        h2{
            margin: 0px;
            font-size: 20px;
        }

        form {
            margin: 0px;
        }

        * {
            margin-left: 20px;
        }
    }

}

@media (max-width: 400px) {
    .content-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .search-box {
        margin: 5px 0px 10px 0px;
        width: 300px;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            margin: 0px;
            font-size: 20px;
        }

        form {
            justify-content: start;
        }

        * {
            margin-left: 20px;
        }
    }
}